<!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" [routerLink]=" ['/Giới thiệu']" routerLinkActive="router-link-active">Giới Thiệu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/Tải ứng dụng]" routerLinkActive="router-link-active">Tải ứng dụng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/Lợi ích']" routerLinkActive="router-link-active">Lợi ích</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/Địa điểm hoàn tiền']" routerLinkActive="router-link-active">Địa điểm hoàn tiền</a>
    </li>
  </ul> -->
<div style="background-color: darkred; color: white;">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#about">Giới thiệu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#app">Tải ứng dụng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#benefit">Lợi ích</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#hoantien">Địa điểm hoàn tiền</a>
    </li>
  </ul>
</div>

